<main class='p-5'>

  <div class='card p-5'>
    <p id='test'>
      I love you!
    </p>
    <span>i love you</span>
  </div>
  <span class='test'>Test</span>
  <pre>
    tab
  </pre>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='margin: 50px 0 10px 50px 100px; background: gray; height:100px'
  >
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>
    <span class='block'>Inlineblock</span>
  </div>

</main>