.card {
}

.card > p {
  color: green;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(255, 0, 200);
  -webkit-text-stroke: 1px rgb(217, 255, 0);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: start;

  text-decoration: underline wavy blue;
}

span {
  text-transform: capitalize;
  text-align: center;

  font-size: smaller;
  font-weight: lighter;
  text-emphasis: filled circle red;
}

pre {
  tab-size: 10;
  letter-spacing: normal;
  font-style: italic;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: x-large;
  font-weight: 900;
  font-display: swap;
}

span:focus,
span:active,
span:hover {
  text-decoration: underline double greenyellow;
  font-style: oblique;
}

.test {
  display: none;
}

.block {
  display: inline-block;
  background: rgb(227, 225, 225);
  margin: auto;
  width: min-content;
  height: fit-content;
}
